  /* General styles */
  body {
    font-family: 'Roboto', sans-serif;
    background: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1200px; /* size of page */
  }

  /* Back Button Styles */
  .back-button {
    position: fixed; /* try absolute for a non-sticky button */
    top: 15px;
    right: 15px;
    z-index: 1000;
  }

  .btn-outline-primary {
    border-radius: 10px;
  }

  /* Sorting Button Styles */
  .sorting-buttons .btn {
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    margin-right: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .sorting-buttons .btn.active,
  .sorting-buttons .btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  /* Styling for the Search Bar */
  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .input-group {
      max-width: 600px;
      width: 100%;
      border-radius: 30px;
      overflow: hidden;
      background-color: #f8f9fa;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      display: flex;
  }

  .search-category {
      border: none;
      background-color: #ffffff;
      color: #333;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 30px 0 0 30px;
      outline: none;
  }

  .search-input {
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #ffffff;
      color: #555;
      flex: 1;
  }

  .search-input:focus {
      outline: none;
      box-shadow: none;
  }

  .input-group-append {
      display: flex;
      align-items: center;
      padding: 0 10px;
  }

  .search-icon {
      display: flex;
      align-items: center;
      color: #333;
      font-size: 18px;
  }

  /* No results message */
  .no-results-message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #d9534f;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
      .custom-select {
          padding-left: 10px;
      }
      .search-input {
          padding: 12px 15px;
          font-size: 14px;
      }
      .search-btn {
          padding: 12px 15px;
      }
  }

  /* Certificates Section Styles */
  .card {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .card:hover .card-img-top {
    transform: scale(1.05);
  }

  .card-body {
    background-color: #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  .card-text {
    font-size: 1rem;
    color: #6c757d;
  }

  .btn-primary {
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    background-color: #007bff;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .modal-body iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
  }

  /* Responsive Styles */
  @media (max-width: 767px) {
    .card-body {
      padding: 1rem;
    }

    .card-img-top {
      height: 150px;
    }

    .sorting-buttons .btn {
      font-size: 0.8rem;
    }
  }

  /* Night Mode */
  .night-mode {
    background-color: #3b434a;
    color: white;
  }

  .night-mode .card-body {
    background-color: #343a40;
    color: white;
  }

  .night-mode .btn {
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
  }
  
  .night-mode .btn:hover {
    background-color: #5a6268;
    border-color: #5a6268;
  }

  .night-mode a {
    color: #bb86fc;
  }

  .night-mode .dropdown-menu {
    background-color: #343a40;
    color: white;
  }

  .night-mode .dropdown-item {
    color: white;
  }

  .night-mode .dropdown-item:hover {
    background-color: #6c757d;
  }

  .night-mode .modal-content {
    background-color: #495057;
    color: #f8f9fa;
  }

  .night-mode .modal-header {
    border-bottom: 1px solid #6c757d;
  }
