  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /* General Styles */
  body {
    line-height: 1.6;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Sidebar Navigation */
  .sidebar-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #343a40;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    z-index: 1000;
  }

  .sidebar-nav.active {
    left: 0;
  }

  .sidebar-nav ul {
    list-style: none;
    padding: 0;
  }

  .sidebar-nav .nav-link {
    color: white;
    padding: 15px 20px;
    display: block;
    transition: background 0.2s;
  }

  .sidebar-nav .nav-link:hover {
    background: #495057;
  }

  .sidebar-nav .nav-link.active {
    background: #007bff;
    color: white;
  }

  .navbar-toggler {
    z-index: 1100;
    border: none;
    background: transparent;
    outline: none;
  }

  #theme-toggler.nav-link {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit !important;
  }

  #theme-toggler.nav-link:hover, 
  #theme-toggler.nav-link:focus, 
  #theme-toggler.nav-link:active {
      background: none !important;
      color: inherit !important;
      text-decoration: none !important;
  }

  section {
    scroll-margin-top: 50px; /* Where to stop above a section when clicked */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }

  .modal-link a {
    text-decoration: underline;
  }

  .container {
    max-width: 1100px; /* size of page */
  }

  .custom-shadow {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3), 0 2px 8px rgba(0, 0, 0, 0.2) !important;
  }

  .dark-mode-toggle {
    color: #007bff;
    transition: color 0.25s ease;
  }

  .dark-mode-toggle:hover {
    color: #0063c0;
  }

  .btn-outline-light {
    color: #adb5bd;
    border-color: #adb5bd;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  .btn-outline-light:hover {
    color: #343a40;
    border-color: #343a40;
    background-color: #e0e0e0;
  }

  /* Navbar */
  .navbar-dark .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navbar-dark .nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }

  /* Home Section */
  .home-section {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #343a40;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/Home-BG.jpg');
    background-size: cover;
    background-attachment: absolute;
    background-position: center;
    animation: backgroundScroll 20s linear infinite;
  }

  /* Background Scroll Animation */
  @keyframes backgroundScroll {
    0% {
      background-position: center top;
    }
    100% {
      background-position: center bottom;
    }
  }

  /* Responsive Image for Mobile */
  @media (max-width: 768px) {
    .home-section {
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
    }
  }

  .home-section i {
    animation: fadeIn 2s ease-in-out;
  }

  .home-section h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    animation: fadeIn 2s ease-in-out;
  }

  .home-section p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    animation: fadeIn 2s ease-in-out;
  }

  .btn-primary {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    background-color: #6c757d;
    border-color: #6c757d;
  }

  /* About Section */
  #about {
    padding: 60px 0;
  }

  #about p {
    font-size: 1.15rem;
    max-width: 800px;
    margin: 0 auto;
  }

  /* Resume Section */
  #resume {
    padding: 60px 0;
  }

  /* Skills Section */
  #skills {
    padding: 60px 0;
  }

  #skills i {
    color: #6c757d;
    margin-bottom: 20px;
  }

  #skills h4 {
    font-size: 1.25rem;
    margin-top: 15px;
  }

  #skills p {
    font-size: 1rem;
  }

  /* Projects Section */
  #projects {
    padding: 60px 0;
  }
  
  #projects .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    height: 100%;
    flex: 1 1 30%;
  }

  .card-title {
    transition: color 0.3s ease;
  }

  .card-text {
      transition: color 0.3s ease;
  }

  .card i {
    margin-bottom: 15px;
    color: #666;
    transition: color 0.3s ease;
  }

  .card i:hover {
    color: #333;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .modal-body object {
    width: 100%;
    height: 550px;
    border: none;
    border-radius: 10px;
  }

  .modal-header {
    display: flex;
    justify-content: center;
  }

  .modal-title {
    text-align: center;
  }

  /* Education Section */
  #education {
    background-color: #f8f9fa;
    padding: 60px 0;
  }

  #education i {
    margin-bottom: 15px;
  }

  #education p {
    font-size: 1.15rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .custom-img {
    width: 100px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 5px;
  }

  /* Experience Section */
  #experience {
    background-color: #f9f9f9;
    padding: 60px 0;
  }

  #experience-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  #experience-container .col-md-5 {
    display: flex;
    align-items: stretch;
  }

  .experience-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 420px;
    transition: transform 0.3s, background-color 0.3s ease;
  }

  .company-logo {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
  }

  .experience-card h4 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .experience-card h4 span {
    font-size: 18px;
    color: #555;
  }

  .experience-card h5 {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
  }

  .experience-card p {
    font-size: 15px;
    color: #666;
    flex-grow: 1;
    margin-bottom: 15px;
  }

  .experience-card:hover {
    transform: scale(1.03);
  }

  .view-certificate {
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    align-self: center;
  }

  @media (max-width: 768px) {
    #experience-container {
        flex-direction: column;
        align-items: center;
    }
    
    .experience-card {
        width: 100%;
        min-height: auto;
    }
  }

  /* Contact Section */
  #contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/Contact-BG.jpg');
    background-size: cover;
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #343a40;
    color: white;
    padding: 60px 0;
    font-family: "Poppins", sans-serif;
  }

  #contact p {
    font-size: 1.15rem;
    margin-bottom: 20px;
  }

  #contact a {
    color: white;
  }

  #contact a:hover {
    color: #343a40;
  }

  #contact .btn-outline-light {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    margin-top: 10px;
    border-color: #adb5bd;
    color: #adb5bd;
  }

  .fa-user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-user-wrapper .fa-user {
      font-size: 1.5rem;
      border: 2px solid rgba(255, 255, 255, 0.5);
      padding: 0.75rem;
      border-radius: 12px;
      color: white;
      box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.05);
  }

  /* Animations */
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .home-section h1 {
        font-size: 2.5rem;
    }

    .home-section p {
        font-size: 1.1rem;
    }

    #skills .col-md-3,
    #experience .col-md-6 {
        margin-bottom: 30px;
    }

    #projects .col-lg-4 {
        margin-bottom: 30px;
    }
  }

  /* Night Mode */
  .night-mode {
    background-color: #2a2a2a;
    color: #dcdcdc;
  }

  .night-mode .card,
  .night-mode .experience-card {
    background-color: #222;
    color: #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #444 !important;
  }

  .night-mode h4,
  .night-mode h4 span,
  .night-mode h5,
  .night-mode p {
      color: #ddd !important;
  }

  .night-mode .card i {
    color: #bbb;
    transition: color 0.3s ease;
  }
  
  .night-mode .card i:hover {
    color: #fff;
  }

  .night-mode #home {
    background-color: #1b1b1b;
  }

  .night-mode #education {
      background-color: #2a2a2a;
  }

  .night-mode #experience {
    background-color: #2a2a2a;
}

  .night-mode .modal-link a {
    color: #80CBC4;
  }

  /* Modal Styles for Night Mode */
  .night-mode .modal-content {
    background-color: #3c3c3c;
    color: #e0e0e0;
  }

  .night-mode .modal-header {
    border-bottom: 1px solid #556270;
  }

  .night-mode .modal-footer {
    border-top: 1px solid #556270;
  }
  